<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ user_username }}</h1>
    <form action="" method="post">
        <h3 class="page-title">修改</h3>
                <input type="text" class="form-control" name="telephone" placeholder="电话号码" value="{{ user_username }}">
                <input type="text" class="form-control" name="username" placeholder="用户名">
                <input type="password" class="form-control" name="password" placeholder="密码">
                <input type="password" class="form-control" name="content" placeholder="内容">
              <button type="submit" class="btn btn-primary btn-block">立即修改</button>
    </form>
</body>
</html>